/* line 2, _global.scss */
body {
  font-family: sans-serif;
  line-height: 1.5;
  margin: 0; }

/* line 7, _global.scss */
h1 {
  font-family: Cambria, Georgia, serif;
  font-size: 2em;
  margin: 0 0 0.5em; }
  /* line 12, _global.scss */
  section h1 {
    font-size: 1.5em; }

/* line 16, _global.scss */
pre code {
  display: block;
  background: #eee;
  border: 1px solid #ccc;
  overflow: auto;
  padding: 10px; }

/* line 7, _layout.scss */
.content-margins {
  margin: 10px;
  margin: 20px; }

/* line 14, _layout.scss */
.primary {
  float: left;
  width: 70%;
  display: inline;
  zoom: 1;
  whatever-ie-needs: le-sigh; }
  /* line 26, _layout.scss */
  .primary .content-margins {
    margin-right: 30px; }

/* line 31, _layout.scss */
.secondary {
  float: left;
  width: 30%; }
